* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row, .slider {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after,
.menu::after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
.col-md-4 {
    width: 33.33333%;
}
.col-md-8 {
    width: 66.66667%;
}
.col-md-12 {
    width: 100%;
}
.logo {
    margin-top: 8px;
}

.menu > li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a, .drop-content a {
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
}

.menu a:hover, .drop-menu:hover a {
    color: white;
    background-color: #2c71b8;
}

.cart {
    float: right;
    background-color: white;
    margin-top: 5px;
    position: relative;
}
.number {
    position: absolute;
    background-color: #2c71b8;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    width: 20px;
    height: 20px;
    top: 0;
    text-align: center;
    line-height: 20px;
    margin-left: -10px;
    margin-top: -10px;
}
.shop-icon {
    display: block;
    padding: 9px 11px;
    max-height: 40px;
    max-width: 40px;
}

.search {
    margin-top: 5px;
    height: 40px;
    border: 1px solid #2c71b8;
}

.input-search {
    margin-top: 6px;
    margin-left: 20px;
    display: inline-block;
    width: 130px;
    background: transparent;
}

.input-search, .input-search::placeholder {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    color: #2c71b8;
}

.button {
    cursor: pointer;
    margin-top: 4px;
    margin-right: 5px;
    margin-bottom: 4px;
    float: right;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: center;
}
.drop-menu {
    position: relative;
}
.drop-menu:hover .drop-content {
    opacity: 1;
    visibility: visible;
}
.drop-content {
    z-index: 10;
    position: absolute;
    margin-left: -1px;
    opacity: 0;
    visibility: hidden;
}
.drop-content > li {
    width: calc(200% + 1px) ;
}
.drop-content a {
background-color: #2c71b8;
color: white;
height: 40px;
line-height: 40px;
padding-left: 30px;
text-align: left;
}
.drop-content a:hover {
    color: #2c71b8;
    background-color: white;
}
.navigation {
    padding: 30px 0px;
}
.nav-site a {
	color: rgba(255, 255, 255, 0.50);
	font-size: 14px;
    text-decoration: none;
}
.nav-site a:last-child {
    text-decoration: underline;
}
.title, .product-price {
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.sorter {
    position: relative;
}
.sorter > a, .hidden-sorter a{
    display: block;
height: 40px;
line-height: 40px;
    padding-left: 30px;
    background-color: #2c71b8;
    border: 1px solid white;
    font-size: 21px;
    color: white;
    text-align: left;
    text-decoration: none;
}
.hidden-sorter {
    width: 100%;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    border: 1px solid white;
}
.hidden-sorter li {
    background-color: #2c71b8;
}
.sorter:hover .hidden-sorter{
    z-index: 10;
    opacity: 1;
    visibility: visible;
}
.hidden-sorter a{
   border: none;
}
.hidden-sorter a:hover {
    color: #2c71b8;
    background-color: white;
}
.margin{
    margin-bottom: 20px;
}
[class*="img-"] {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.img-monitor {
    background-image: url("images/monitor.png");
}
.img-tv{
    background-image: url("images/tv.png");
}
.img-watches {
    background-image: url("images/watches.png");
}
.img-laptop {
    background-image: url("images/laptop.png");
}
.img-tablet {
    background-image: url("images/tablet.png");
}
.img-ipod {
    background-image: url("images/ipod.png");
}
.img-iphone {
    background-image: url("images/iphone.png");
}
.button-size, .button-favorite {
    position: absolute;
background-color: transparent;
border: 1px solid #2c71b8;
background-image: url("images/size.png");
background-repeat: no-repeat;
background-position: center;
height: 30px;
width: 30px;
margin-right: 10px;
margin-top: 10px;
right: 0;
}
.button-favorite{
    margin-top: 50px;
    background-image: url("images/heart.png");
}
.button-size:hover {
    background-color: #2c71b8;
    background-image: url("images/size-white.png");
}
.button-favorite:hover {
    background-color: #2c71b8;
    background-image: url("images/heart-white.png");
}
.product-description {
    background-color: rgba(44, 113, 184, 0.75);
    padding: 15px;
    border: 1px solid white;
    border-top: none;
}
.product-name {
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.product-description-text{
    color: white;
    font-size: 21px;
    padding-top: 20px;
}
.bold{
    font-weight: 700;
}
.up-align{
    font-size: 24px;
    vertical-align: super;
}
.product-price{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.button-detail, .button-submit{
    width: calc(100% - 30px);
    color:white;
    background-color: #2c71b8;
    border: 1px solid white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 15px 15px;
    font-size: 21px;
    font-weight: 700;
}
.button-submit{
    width: 100%;
    margin: 0;
}
.button-detail:hover, .button-submit:hover{
    background-color: rgba(255, 255, 255, 0.20);
}
.footer {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    line-height: 100px;
    color: #2c71b8;
    font-size: 21px;
}
.load-more {    
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 90px;
}
.load-more a {
    text-decoration: none;
    color: white;
}
.checkbox-side {
    background-color: rgba(255, 255, 255, 0.20);
padding: 30px;
color: white;
font-size: 21px;
}
[class*=caption] {
    font-weight: 700;
}
.caption-device {
    margin-bottom: 10px;
}
.caption-color, .caption-ram {
    margin-top: 60px;
}
input[type="checkbox"]{
    display: none;
}
label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 20px;
}
input[type="checkbox"]:checked + label:before {
background-color: white;
}
.show-more a{
    display: block;
    text-align: center;
    padding: 30px 0;
    text-decoration: none;
    color: white;
}